/* fontawesome link */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif !important;
}

/* .navbar{
  background-color: deepskyblue;
  font-size: 20px;
  padding: 5px;
}

.card{
  box-shadow: 0 0 5px black;
  width: 300px;
  margin: 30px;
  padding: 20px;
  background-color: teal;
  color: whitesmoke;
  text-align: center;
} */